<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Whoami">Whoami</a></li>
                <li><a href="/work">Work</a></li>
                <li><a href="/wips">WIP</a></li>
            </ul>
        </nav>
        <div class="container">

           {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:seanwilliamdaniels@gmail.com">email</a></li>
                <li><a href="https://github.com/seandaniels">github.com/seandaniels</a></li>
            </ul>
        </footer>
    </body>
</html>
